* {
  margin: 0;
  padding: 0;
}
body {
  font-family: quicksand;
  background-color: rgb(245, 245, 245);
}
.img {
  width: 60px;
  height: 60px;
}
/* color section */
.nav-cl1 {
  color: rgb(254, 163, 1);
}
.nav-cl2 {
  color: rgb(1, 172, 253);
}
.nav-cl3 {
  color: rgb(5, 212, 223);
}
.nav-cl4 {
  color: rgb(5, 212, 223);
}
/* 
header section start */
.responsive-nav {
  display: none;
}
.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 200px;
}

.nav-parent .logo {
  display: flex;
  align-items: center;
}

.nav-parent .logo img {
  margin-right: 10px;
  width: 40px;
}

.nav-parent ul {
  display: flex;
  list-style: none;
}

.nav-parent ul li {
  margin: 0 16px;
}

.nav-parent ul li a {
  text-decoration: none;
  font-weight: 700;
}

.nav-parent button {
  padding: 10px 55px;
  background-color: rgb(254, 163, 1);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 400;
  margin-right: 49px;
}
.nav-parent button:hover {
  background-color: rgb(1, 172, 253);
  color: white;
  cursor: pointer;
}
/* hero section start */
.hero {
  margin: 0 200px;
}
.left-right-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
}
.hero-left {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.hero-left h3 {
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
}
.hero-left p {
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-top: 25px;
}
.hero-left button {
  color: rgb(255, 255, 255);
  background-color: black;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  padding: 8px 50px;
  margin-top: 25px;
}
.hero-left button:hover {
  background-color: rgb(254, 163, 1);
  color: white;
  cursor: pointer;
}
.hero-right {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
}
.curriculum {
  background-image: url(../assets/bg.png);
  margin-top: 80px;
}
.curriculum h3 {
  color: rgb(0, 0, 0);
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  text-align: center;
}
/* card section started */

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
  margin-top: 80px;
}
.card-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 395px;
  height: 460px;
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 395px;
  height: 460px;
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 395px;
  height: 460px;
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-1 img {
  padding: 65px 0px 0px 6px;
}
.card-1 h4 {
  padding: 29px 0px 0px 6px;
  align-items: center;
  color: rgb(32, 32, 32);
  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
  text-align: center;
}
.card-1 p {
  padding: 34px 0px 0px 6px;
  align-items: center;
  color: rgb(128, 128, 128);
  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  text-align: center;
}
.card-1 h5 {
  padding: 30px 0px 0px 6px;
  align-items: center;
  color: rgb(100, 200, 255);
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  text-align: center;
}
.card-1 h5:hover {
  color: black;
  cursor: pointer;
}
.card-2 img {
  padding: 65px 0px 0px 6px;
}
.card-2 h4 {
  padding: 38px 0px 0px 6px;
  align-items: center;
  color: rgb(32, 32, 32);
  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
  text-align: center;
}
.card-2 p {
  padding: 34px 0px 0px 6px;
  align-items: center;
  color: rgb(128, 128, 128);
  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  text-align: center;
}
.card-2 h5 {
  padding: 34px 0px 0px 6px;
  align-items: center;
  color: rgb(240, 170, 0);
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  text-align: center;
}
.card-2 h5:hover {
  color: black;
  cursor: pointer;
}
.card-3 img {
  padding: 65px 0px 0px 6px;
}
.card-3 h4 {
  padding: 38px 0px 0px 6px;
  align-items: center;
  color: rgb(32, 32, 32);
  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
  text-align: center;
}
.card-3 p {
  padding: 34px 0px 0px 6px;
  align-items: center;
  color: rgb(128, 128, 128);
  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  text-align: center;
}
.card-3 h5 {
  padding: 34px 0px 0px 6px;
  align-items: center;
  color: rgb(135, 0, 255);
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  text-align: center;
}
.card-3 h5:hover {
  color: black;
  cursor: pointer;
}
.circle-arrow {
  margin-top: 80px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.circle-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgb(254, 163, 1);
  border-radius: 30px;
}
.circle-1:hover {
  background-color: black;
  cursor: pointer;
}
.circle-1 i {
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: 900;
}
.circle-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgb(254, 163, 1);
  border-radius: 30px;
}
.circle-2:hover {
  background-color: black;
  cursor: pointer;
}
.circle-2 i {
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: 900;
}
.stories {
  margin-top: 80px;
  text-align: center;
}
.stories-parent {
  width: 100%;
  height: 1200px;
  background: url(../assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}
.stories-parent .title {
  text-align: center;
}

.stories-parent h3 {
  padding: 60px 0px 0px 6px;
  color: rgb(0, 0, 0);
  font-size: 46px;
  font-weight: 700;
  margin-top: 5px;
  text-align: left;
}
.story-card-container {
  display: flex;
  gap: 19px;
  margin: 60px 140px;
}
.side-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
}
.main-card {
  display: flex;
  flex-direction: column;
  gap: 47px;
  text-align: start;
  background-color: #ffffff;
  border-radius: 16px;
}
.main-card > h3 {
  font-size: 24px;
  font-weight: bold;
  padding: 0 38px;
}
.main-card > p {
  font-weight: medium;
  font-size: 15px;
  color: #808080;
  padding: 0px 38px;
}
.main-card > img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.date {
  background-color: rgb(60, 216, 232);
  padding: 14px 19px;
  border-radius: 47px;
  z-index: 1;
  margin-right: 328px;
  margin-left: 38px;
  font-weight: medium;
  font-size: 15px;
  color: #ffffff;
  position: relative;
  top: -290px;
  width: 135px;
  text-align: left;
}
.dates {
  background-color: green;
  z-index: 2;
  padding: 14px 19px;
  border-radius: 47px;
  position: relative;
  top: -120px;
  font-weight: medium;
  font-size: 15px;
  color: #ffffff;
  margin-right: 90px;
  margin-left: 38px;
  width: 135px;
  text-align: left;
}

.dates-three {
  top: -140px;
}

.main-card:hover,
.cards:hover {
  transform: scale(1.05);
}

.clr-d {
  background-color: blue;
}
.side-card img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.cards {
  display: flex;
  flex-direction: column;
  text-align: start;
  border-radius: 16px;
  background-color: white;
  gap: 37px;
}
.cards > h3 {
  font-size: 15.5px;
  font-weight: bold;
  padding: 0px 38px;
}
.view-all {
  padding: 16px 55px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 700;
}
.view-all:hover {
  background-color: rgb(254, 163, 1);
  cursor: pointer;
}
.btn-cont {
  padding-bottom: 60px;
}
/* foooter section */
footer {
  background-color: #01acfd;
}
.footer-container {
  padding: 123px 228px 174px 140px;
  display: flex;
  justify-content: space-between;
  gap: 170px;
}
.footer-head {
  display: flex;
  align-items: center;
  text-align: start;
}
.edu-title {
  color: white;
  font-size: 42.14px;
  font-weight: bold;
  line-height: 0.93;
  margin-left: 18px;
}
.edu-sub {
  font-size: 20px;
  font-weight: 400px;
  color: white;
  padding-top: 35px;
}
.footer-head > img {
  width: 80px;
  height: 81px;
  background-color: white;
  border-radius: 20px;
}
.footer-mid {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.footer-mid > ul > li > a {
  text-decoration: none;
  color: white;
}
.footer-mid > ul > li {
  list-style-type: none;
}
.footer-mid > ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-school {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.end-title {
  font-size: 26px;
  font-weight: bold;
  color: white;
}
.footer-end {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
